* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../poze/faq.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: white;
    font-family: 'Raleway', sans-serif, 'Times New Roman', sans-serif; /*sans-serif -> if first 2 unavaliable => any sans serif works*/
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility; /*make our fonts render in a perfect way*/
    overflow-x: hidden;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto; /*top-bottom : 0 left,right: auto*/
}

.clearfix {zoom: 1}

.clearfix:after { /* clears the float after an element */
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

input{
background-color:rgb(247, 247, 247);
border-color: rgb(228, 228, 228);
border-width: 1px;
color:rgb(66, 66, 66);
cursor:text;
display:inline-block;
font-size:12px;
font-style:italic;
height:38.8889px;
margin-bottom:0px;
margin-left:4%;
margin-right:0px;
margin-top:4%;
padding: 10px;
width:250px;
}


/* ------ HEADDINGS ------ */


h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-left: 4%;
    font-weight: 300;
    text-transform: uppercase;
}

/* ------ LINKS ------ */

a:link,
a:visited {
    color: white;
    text-decoration: none;
    padding-bottom: 1px;
}


/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */


.text-box {
    
    margin-left: 78%;
    margin-top: 20%;
    width: 1140px;
    top: 27%;
    left: 45%;
    transform: translate(-50%, -10%); 

.logo {
    height: 100px; /*responsive complet -> height: 10.6vh;*/
    width: auto;
    float: left;
    margin-top: 20px;
}

/* Main nav */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav ul li a:link,
.main-nav ul li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #FAA476;
}


.rowTable{
	width:60%;
	margin-left:20%;
	margin-right:20%;
	
}
.the-box h1{
	margin-left:25%;
	margin-right:20%;
}

.dropdown {
    list-style: none;
    display: block;
}

.dropdown li {
    margin-top: 45px;
}

.dropdown li a:link,
.dropdown li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.dropdown li a:hover,
.dropdown li a:active {
    border-bottom: 2px solid #FAA476;
}

.dropdown ul li ul li p {
    text-decoration: none;
    color: white;
    display: block;
}
.dropdown ul li ul li {
    margin-top: 1.1rem;
}
