* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../poze/guide.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    color: white;
    font-family: 'Raleway', sans-serif, 'Times New Roman', sans-serif; /*sans-serif -> if first 2 unavaliable => any sans serif works*/
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility; /*make our fonts render in a perfect way*/
    overflow-x: hidden;
}

.clearfix {zoom: 1}

.clearfix:after { /* clears the float after an element */
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */
input{
    background-attachment:scroll;
background-clip:border-box;
background-color:rgb(247, 247, 247);
background-image:none;
background-origin:padding-box;
background-size:auto;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-color: rgb(228, 228, 228);
border-width: 1px;
border-style: solid;
box-sizing:border-box;
color:rgb(66, 66, 66);
cursor:text;
display:inline-block;
font-size:12px;
font-stretch:100%;
font-style:italic;
font-weight:400;
height:38.8889px;
letter-spacing:normal;
line-height:17.1429px;
margin-bottom:0px;
margin-left:4%;
margin-right:0px;
margin-top:4%;
padding: 10px;
text-align:start;
text-indent:0px;
text-rendering:auto;
text-shadow:none;
text-size-adjust:100%;
text-transform:none;
width:250px;
word-spacing:0px;
writing-mode:horizontal-tb;
}
.row {
    max-width: 1140px;
    margin: 0 auto; /*top-bottom : 0 left,right: auto*/
}
.baradesus{
	 max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

/* ------ HEADDINGS ------ */

h1,
h2,
h3 {    
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-left: 4%;
}

/* ------ LINKS ------ */

a:link,
a:visited {
    color: white;
    text-decoration: none;
    padding-bottom: 1px;
}

a:hover,
a:active {
    color: rgb(219, 96, 214);
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */

.text-box {
    position: absolute;
    width: 1140px;
    top: 27%;
    left: 45%;
    transform: translate(-50%, -10%); 
	              /* repositions an element in the horizontal and/or vertical directions */
}

.logo {
    height: 100px; /*responsive complet -> height: 10.6vh;*/
    width: auto;
    float: left;
    margin-top: 20px;
}

/* Main nav */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(219, 96, 214);
}

.nume {
    margin-top: 50px;
    margin-left: 20px;
    vertical-align:middle;
    float: left;
    color: white;
    text-decoration: none;
    color: white;
}
.address {
	margin-top: 8px;
}
.number {
	margin-top: 8px;
}
.guide{
	margin-top:2.5rem;
	font-weight: 100;
	
}
.rowTable{
	width:60%;
	margin-left:20%;
	margin-right:20%;
	
}
.guide p{
	margin-top:1.1rem;
	
}
.text-box h1{
	margin-left:20%;
	margin-right:20%;
}

@media only screen and (max-width: 320px)
{
	.text-box{
		margin-top:15%;
	}
	.guide{
		width:100%;
		margin-left:15%;
		margin-right:5%;
	}
	
	
	
	
}
	



